@{
  List<Event> Events = (List<Event>)ViewBag.Event;
}

<div style="background-color:orange;" class="jumbotron text-center">
  <h1>EVENTS</h1>
  <p>Let us connect at events in Winnipeg</p> 
</div>

@foreach (var item in Events)
{
    <div class="panel" style="border: 1px solid lightgrey; margin-top: 20px; position:relative; background-color: lightblue;">
        <div class="panel-body">
          <div class="row">
            <div class ="col-sm-4">
                <h3>@item.Name</h3>
                <p>Location: @item.Location</p>
                <p>Date: @item.Date.ToShortDateString()</p>
                <p>Start Time:@item.TimeStart</p>
                <p>UPTO : @item.TimeFinish</p>
                
            </div>
            <div class ="col-sm-6">
            <img src="@item.PictureUrl" alt="Product Image" width="450">
            </div>
            <div class ="col-sm-2">
             <a href="/Home/List?id=@item.Id" class="btn btn-primary">View Details</a>
          
            </div>
          </div>
        </div>        
    </div>
    
}

