@{
  List<Event> Events = (List<Event>)ViewBag.Event;
   
}

<h2>Events List</h2>

@foreach (var item in Events)
{
    <div class="container" style="border: 1px solid lightgrey; margin-top: 20px; position:relative; background-color: lightblue;">
        
          <div class="row">
            <div class ="col-sm-4">
              <br>
              <img src="@item.PictureUrl" alt="Product Image" width="300">
            </div>
            

            <div class ="col-sm-8">
              <h4>@item.Name</h4>
              <hr>
              <div class="row">
                
                <div class="col-sm-6">
                  <p>Location: @item.Location</p>
                  <p>Date: @item.Date.ToShortDateString()</p>
                 <p>Start Time:@item.TimeStart</p>
                 <p>UPTO : @item.TimeFinish</p>
                
                </div>
                <div class ="col-sm-6">
                 
                  <br>
                  <p>See what others are saying about the event</p>
                  <a href="/Home/List?id=@item.Id" class="btn">View Details</a>
          
                </div>

              </div>
                
            </div>
            
              
          </div>
             
    </div>
    
}

